#map{style: "width:100%; height:700px"}
:javascript
  var map;
  var zoom_level = 13;
  var user_icon = "#{asset_path('pin74.png')}";
  var pharmacy_icon = "#{asset_path('plus54.png')}";
  var markers = [];
  var cities_loaded = [];
  var places_url = "#{api_places_path}"

