%li{:class => "#{'active' if page.current?}"}
  - if page.current?
    = link_to page, "#", {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil}
  - else 
    = link_to page, url, {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil}
